header {
  width: 100%;
  display: flex;
  background-color: #eee;
  padding: 50px;
  color: #333;
}

.headerLogo a {
  display: block;
  font-size: 25px;
  padding-right: 30px;
}

.headerLogo a span {
  font-size: 15px;
}

.headerNavi {
  display: flex;
  line-height: 37.5px;
  
  font-size: 12px;
}

.headerNavi a {
  color: blue;
  text-decoration:underline ;
}

.headerNavi a:hover {
  color: red;
}

.headerNavi p {
  padding-left: 10px;
}


