body {
  width: 100%;
}

.containerAdd {
  width: 100%;
}

header h1 {
  width: 100%;
  background-color: #333;
  color: #eee;
  padding: 5px 0 5px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 span {
  padding-right: 20px;
  font-size: 12px;
  font-weight: normal;
}

header h1 span a{
  text-decoration: underline;
}

header h1 span a:hover{
  text-decoration: none;
  color: #0393E3;
}

header h2 {
  margin: 50px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #aaa;
  color: #333;
}

header h2 span {
  display: flex;
  font-size: 12px;
  align-items: center;
}

header h2 span a {
  color: #0393E3;
}

.contents {
  padding: 50px;
}

.tableForm input{
  display: block;
  width: 300px;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.tableForm textarea {
  display: block;
  width: 300px;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#addBtn {
  width: 300px;
  padding: 10px 0;
  border-radius: 10px;
  margin: auto;
  background-color: #333;
  color: #eee;
  cursor: pointer;
  
}

#addBtn:hover {
  background-color: #eee;
  color: #333;
  border: 1px solid #333;
}

footer {
  background-color: #333;
  padding: 50px 0;
  margin-top: 300px;
}

footer p {
  color: #eee;
  font-size: 10px;
  text-align: center;
}